
a {
  color:#333;
}

a:hover {
  color: #ecd901;
  text-decoration: none;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 1.2em;
  color: #333;
  height:100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  float: left;
  list-style: none;
  margin-right: 10px; 
}

.brand-color {
  color: #ecd901;
}

.container {
  margin: 30px 50px;
  min-height:100%;
  position:relative;
}

.content {
  padding-left: 0;
}

#footer {
  margin-top: 8em;
  bottom:0;
  width:100%;
}

.image {
  float:right;
  width: 100%;
  height: 300px;
  background: url("../images/image1.png") no-repeat center
}

.mid-space {
  margin-top: 200px;
}

#navigation-links {
  font-size: 1.1em;
}

.social-links {
  float: right;
  list-style: none;
  margin: 10px 0; 
}

.social-links a {
  margin-left: 5px; 
  margin-right: 0px; 
}

.social-button {
  border-radius: 5px;
  font-size: 1.7em;
  color: #a0a1a2;
}

.social-button a {
  color: #fff;
}

.title-logo {
  margin-bottom: 15px;
}

.title-logo h1 {
  color: #666;
  letter-spacing: 1px;
}

.title-logo span {
  font-family: "Helvetica light";
  padding-left: 2px;
}
