img {
  border: 0;
  width: 100%;
  display: block;
  max-width: 100%;
  max-height: 500px;
}

a {
  color:#585858;
}

a:link
{  
  text-decoration: none;
  color:#585858;
}

a:hover {
  color: #ecd901;
  text-decoration: none;
}

body {
  font-family: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 1.3em;
  color: #585858;
  height:100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  float: left;
  list-style: none;
  margin-right: 10px; 
}

.bold {
  font-weight: 400;
}

.brand-color {
  color: #ecd901;
}

.container {
  margin: 30px 50px;
  min-height:100%;
}

.content {
  padding-left: 0;
  margin: 20px 0;
}

#footer {
  bottom:0;
  width:100%;
}

.header {
  margin: 50px 0 10px;
  padding-left: 0;
}

#home-image {
  margin: 0 auto;
  height: 500px;
  background-size: 800px 529px;
  background-repeat: no-repeat;
  background-position: center; 
  background-image: url("../images/OR01_Facade.jpg");
}

.image {
  float:right;
  width: 100%;
  height: 300px;
  background: url("../images/image1.png") no-repeat center 100%
}

.mid-space {
  margin-top: 150px;
}

#navigation-links {
  font-size: 1.1em;
}

.project {
  padding-left: 0;
}

.project-image {
  margin: 15px 0;
  width: 100%;
  height:200px;
  background-color: grey;
}

.social-links {
  float: right;
  list-style: none;
  margin: 10px 0; 
}

.social-links a {
  margin-right: 5px; 
  float: left;
}

.social-links a.googleplus:hover {
  color: #DC4335;
}

.social-links a.facebook:hover {
  color: #314A7E;
}

.social-links a.twit:hover {
  color: #34CCFE;
}

.social-links a.linked:hover {
  color: #007BB6;
}

.social-button {
  border-radius: 5px;
  font-size: 1.7em;
  color: #a0a1a2;
}

.title-logo {
  margin-bottom: 10px;
  width: 100px;
  height: 35px;
  background-image: url("../images/type-logo.png");
  background-repeat: no-repeat;
  background-size: 100%
}

#under-construction {
  margin: 200px;
  text-align: center;
  font-size: 1.6em;
}
